<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/html/goal/goal}">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div layout:fragment="contents">
		<div class="contents">
			<div class="contents_btn_group">
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-info btn-lg">登録</button>
					<button type="button" class="ml-3 btn btn-info btn-lg">出力</button>
					<button type="button" class="ml-5 btn btn-warning btn-lg">削除</button>
				</div>
			</div>
			<div class="grid_group">
				<!-- 正方形のグリッドアイテムを9x9で生成 -->
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
				<div class="square"><textarea></textarea></div>
			</div>
		</div>
	</div>
</body>
</html>